<!doctype html>
<html>
  <head>
    {% block head %}

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
          <style>.map-container {
            margin-bottom: 20px;
            height:250px;
            }
        </style>
        <style>
        title {
          display:none;
        }
        </style>

      <title>Fleeting Dashboard</title>

      <!-- Custom fonts for this template-->
      <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

      <!-- Page level plugin CSS-->
      <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

      <!-- Custom styles for this template-->
      <link href="../static/css/sb-admin.css" rel="stylesheet">

      <link href="../static/css/dataTable.css" rel="stylesheet">
      <script src="../static/js/dataTables.min.js"></script>
      <script src="../static/js/ie-emulation-modes-warning.js"></script>

      <script type="text/javascript"
        src="../static/jquery.js"></script>
    </head>
  <title> {% block title %}  {% endblock %} </title>
    {% endblock %}
  </head>
  <body id="page-top">
    {% block body%}
    {%block nav%}
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/">Fleeting</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>


      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
          </a>

        </li>
      </ul>

    </nav>


    {% endblock %}
    {% block content %}

    {% endblock %}
    {% endblock%}
  </body>
</html>
