<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b015c21664e14580af1cfc515bf07f65 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_b015c21664e14580af1cfc515bf07f65" ></div>
        
</body>
<script>    
    
            var map_b015c21664e14580af1cfc515bf07f65 = L.map(
                "map_b015c21664e14580af1cfc515bf07f65",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_30bf1932903448b28aae4526609d1da0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var poly_line_d24a281957634dfd950a16e892452263 = L.polyline(
                [[40.022975, -75.219292], [40.736681, -74.186132]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_c0654ec1a4404562951dcb5fdd3b8a7b = new L.RegularPolygonMarker(
                [40.2014015, -74.961002],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_20c977d131154b6a97a819beebb1afd7 = new L.RegularPolygonMarker(
                [40.379828, -74.70271199999999],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_32a83492ab104739911f26257004dbae = new L.RegularPolygonMarker(
                [40.5582545, -74.444422],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var poly_line_65e10fa17bed43068c19322ae355c314 = L.polyline(
                [[39.29657, -76.616106], [40.022975, -75.219292]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_86c6f98b4f2144d2a69c04d8e293ef25 = new L.RegularPolygonMarker(
                [39.47817125, -76.2669025],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_74b9164f3e5a4afba2dc2c915fbd74ba = new L.RegularPolygonMarker(
                [39.6597725, -75.917699],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_0e5101f1e3e64bd9ba85a0a169ca69f6 = new L.RegularPolygonMarker(
                [39.84137375, -75.5684955],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var poly_line_e0c16a2537f143cba124240ab734d536 = L.polyline(
                [[39.955681, -83.002757], [42.658293, -73.751163]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_5548da22c66946c59b33a6d33906027e = new L.RegularPolygonMarker(
                [40.631333999999995, -80.6898585],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_ec0640d5895847eeae4c61c919bdffb8 = new L.RegularPolygonMarker(
                [41.306987, -78.37696],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_5fcda0928b9e4096b1d18ea4fc3f1f14 = new L.RegularPolygonMarker(
                [41.98264, -76.06406150000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var poly_line_a0435e21b72148b99ae4695a10fb0e80 = L.polyline(
                [[39.955681, -83.002757], [40.715257, -74.050824]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_bcc1140e88ba44588d667835bde68352 = new L.RegularPolygonMarker(
                [40.145575, -80.76477375],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_662b123c73f3401a92d0eb5f4de481b1 = new L.RegularPolygonMarker(
                [40.335469, -78.5267905],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_93fdd52715d54388834cec9781faa6bd = new L.RegularPolygonMarker(
                [40.525363, -76.28880725],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var poly_line_feb66bd8846d4bcba7c27e54a4dfe647 = L.polyline(
                [[39.29657, -76.616106], [39.955681, -83.002757]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_2520ebe2e3904f9586e313d0746c1cf9 = new L.RegularPolygonMarker(
                [39.46134775, -78.21276875000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_027614f608fe4a78acc8419a51ed6221 = new L.RegularPolygonMarker(
                [39.6261255, -79.8094315],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_cf7f6b00b1bf488e8356b40529118a5f = new L.RegularPolygonMarker(
                [39.79090325, -81.40609425],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var poly_line_10705083fb9949289934466b206965c7 = L.polyline(
                [[39.955681, -83.002757], [40.734749, -73.990611]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_5ba86659bc8f4b14868f61ae3d2a9e23 = new L.RegularPolygonMarker(
                [40.150448, -80.7497205],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_6be7859f5833418eb47ecfa625d9b277 = new L.RegularPolygonMarker(
                [40.345214999999996, -78.496684],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            var regular_polygon_marker_1f05221b279044e2bfba996ceb979dfb = new L.RegularPolygonMarker(
                [40.539982, -76.24364750000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_b015c21664e14580af1cfc515bf07f65);
        
    
            map_b015c21664e14580af1cfc515bf07f65.fitBounds(
                [[39.29657, -83.002757], [42.658293, -73.751163]],
                {}
            );
        
    
            var marker_cluster_08502e6df53140c99f2dce7431b40269 = L.markerClusterGroup(
                {}
            );
            map_b015c21664e14580af1cfc515bf07f65.addLayer(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var marker_e5af62f654f84f5b8a3ed0d129e6f5b9 = L.marker(
                [40.736681, -74.186132],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_306d7b5361424a82a8b6e1ba92a3066a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e5af62f654f84f5b8a3ed0d129e6f5b9.setIcon(icon_306d7b5361424a82a8b6e1ba92a3066a);
        
    
        var popup_4e14988ab67c422ea87e6fe4046400b2 = L.popup({"maxWidth": 150});

        
            var html_85acb1f4b2584a2e8c3d00ef145cfd7b = $(`<div id="html_85acb1f4b2584a2e8c3d00ef145cfd7b" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>206 Springfield Ave <br>Newark NJ</div>`)[0];
            popup_4e14988ab67c422ea87e6fe4046400b2.setContent(html_85acb1f4b2584a2e8c3d00ef145cfd7b);
        

        marker_e5af62f654f84f5b8a3ed0d129e6f5b9.bindPopup(popup_4e14988ab67c422ea87e6fe4046400b2)
        ;

        
    
    
            var marker_6ffd1fa8a2344be3824c99517e9c1137 = L.marker(
                [40.022975, -75.219292],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_850d8c671c274f8e804a63d4cfa1c2c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6ffd1fa8a2344be3824c99517e9c1137.setIcon(icon_850d8c671c274f8e804a63d4cfa1c2c1);
        
    
        var popup_9cf6651e26b94647802ee03693fdd913 = L.popup({"maxWidth": 150});

        
            var html_ecdd1a309cae4bd7b045fb8ed3823f38 = $(`<div id="html_ecdd1a309cae4bd7b045fb8ed3823f38" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>123 Main street <br>Philadelphia PA</div>`)[0];
            popup_9cf6651e26b94647802ee03693fdd913.setContent(html_ecdd1a309cae4bd7b045fb8ed3823f38);
        

        marker_6ffd1fa8a2344be3824c99517e9c1137.bindPopup(popup_9cf6651e26b94647802ee03693fdd913)
        ;

        
    
    
            var marker_0102c264d9504f3a86d5d8da292de06e = L.marker(
                [39.29657, -76.616106],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_8e2ccca7a557482aaba02bc8d18c58e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0102c264d9504f3a86d5d8da292de06e.setIcon(icon_8e2ccca7a557482aaba02bc8d18c58e1);
        
    
        var popup_4f81839b50d84240b35093a1895ca42a = L.popup({"maxWidth": 150});

        
            var html_76123ab640d64f67af553d2950743ffe = $(`<div id="html_76123ab640d64f67af553d2950743ffe" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>600 N Charles St <br>Baltimore MD</div>`)[0];
            popup_4f81839b50d84240b35093a1895ca42a.setContent(html_76123ab640d64f67af553d2950743ffe);
        

        marker_0102c264d9504f3a86d5d8da292de06e.bindPopup(popup_4f81839b50d84240b35093a1895ca42a)
        ;

        
    
    
            var marker_f581ccecde194aa88632c98c59916409 = L.marker(
                [42.658293, -73.751163],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_ec5ebbfff2164c5d80ce86526e1c9f85 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f581ccecde194aa88632c98c59916409.setIcon(icon_ec5ebbfff2164c5d80ce86526e1c9f85);
        
    
        var popup_d16cf4dc72f84de6a9fdbea7397b1fbc = L.popup({"maxWidth": 150});

        
            var html_86d57aae5d52449188be68845c822d36 = $(`<div id="html_86d57aae5d52449188be68845c822d36" style="width: 100.0%; height: 100.0%;">Load ID: 5554434<br>Driving<br>9 Ten Broeck Pl <br>Albany NY</div>`)[0];
            popup_d16cf4dc72f84de6a9fdbea7397b1fbc.setContent(html_86d57aae5d52449188be68845c822d36);
        

        marker_f581ccecde194aa88632c98c59916409.bindPopup(popup_d16cf4dc72f84de6a9fdbea7397b1fbc)
        ;

        
    
    
            var marker_d15558e337c4404f9e8f3b54c29cc64d = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_73287b19c66741769bfa6ae3d5a0dc5f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d15558e337c4404f9e8f3b54c29cc64d.setIcon(icon_73287b19c66741769bfa6ae3d5a0dc5f);
        
    
        var popup_7c01c766f2b54cc3b737a255d89e499d = L.popup({"maxWidth": 150});

        
            var html_b69ad3fac26641ae9c8fb5a2db31a0b9 = $(`<div id="html_b69ad3fac26641ae9c8fb5a2db31a0b9" style="width: 100.0%; height: 100.0%;">Load ID: 5554434<br>Driving<br>123 Main St <br>Columbus OH</div>`)[0];
            popup_7c01c766f2b54cc3b737a255d89e499d.setContent(html_b69ad3fac26641ae9c8fb5a2db31a0b9);
        

        marker_d15558e337c4404f9e8f3b54c29cc64d.bindPopup(popup_7c01c766f2b54cc3b737a255d89e499d)
        ;

        
    
    
            var marker_afa46744e21d422bbaa552d9be3b344d = L.marker(
                [40.715257, -74.050824],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_3b4920e04f3144f4a0af5bca9b2e8fe7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_afa46744e21d422bbaa552d9be3b344d.setIcon(icon_3b4920e04f3144f4a0af5bca9b2e8fe7);
        
    
        var popup_7541c171cbca485f91f0a92be8ebbcf1 = L.popup({"maxWidth": 150});

        
            var html_db98aed567124fd182f709f9ee49975b = $(`<div id="html_db98aed567124fd182f709f9ee49975b" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>355 Grand St <br>Jersey City NJ</div>`)[0];
            popup_7541c171cbca485f91f0a92be8ebbcf1.setContent(html_db98aed567124fd182f709f9ee49975b);
        

        marker_afa46744e21d422bbaa552d9be3b344d.bindPopup(popup_7541c171cbca485f91f0a92be8ebbcf1)
        ;

        
    
    
            var marker_d08f66bccff64ee68425b3f48083cf45 = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_696d6d4b75504e1db6f7e4e02a553e7b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d08f66bccff64ee68425b3f48083cf45.setIcon(icon_696d6d4b75504e1db6f7e4e02a553e7b);
        
    
        var popup_378d4dd3ab2242c1a2cb01512c2d543c = L.popup({"maxWidth": 150});

        
            var html_4cdb44ecc22842ef99c9f78a8c01ff38 = $(`<div id="html_4cdb44ecc22842ef99c9f78a8c01ff38" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>123 Main St <br>Columbus OH</div>`)[0];
            popup_378d4dd3ab2242c1a2cb01512c2d543c.setContent(html_4cdb44ecc22842ef99c9f78a8c01ff38);
        

        marker_d08f66bccff64ee68425b3f48083cf45.bindPopup(popup_378d4dd3ab2242c1a2cb01512c2d543c)
        ;

        
    
    
            var marker_746b0e823bda43bbb88f221eb2094eb6 = L.marker(
                [39.29657, -76.616106],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_b92c53deb4b7457898f833506ac89338 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_746b0e823bda43bbb88f221eb2094eb6.setIcon(icon_b92c53deb4b7457898f833506ac89338);
        
    
        var popup_c6edd0415c4c45a896cffb6935ac5578 = L.popup({"maxWidth": 150});

        
            var html_e5686a9ca8934edba17170196b362efe = $(`<div id="html_e5686a9ca8934edba17170196b362efe" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>600 N Charles St <br>Baltimore MD</div>`)[0];
            popup_c6edd0415c4c45a896cffb6935ac5578.setContent(html_e5686a9ca8934edba17170196b362efe);
        

        marker_746b0e823bda43bbb88f221eb2094eb6.bindPopup(popup_c6edd0415c4c45a896cffb6935ac5578)
        ;

        
    
    
            var marker_178b77b7d9c74c249e23a0d57b72692b = L.marker(
                [40.734749, -73.990611],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_76e0a291fd054238bb5b18c682e68839 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_178b77b7d9c74c249e23a0d57b72692b.setIcon(icon_76e0a291fd054238bb5b18c682e68839);
        
    
        var popup_c03aa90bfd434931a8865adbcd2b33cc = L.popup({"maxWidth": 150});

        
            var html_1038ad57934e4a92bbe1f0ace6c9b3ab = $(`<div id="html_1038ad57934e4a92bbe1f0ace6c9b3ab" style="width: 100.0%; height: 100.0%;">Load ID: 1123123<br>Drive my truck<br>123 E Broadway <br>New York NY</div>`)[0];
            popup_c03aa90bfd434931a8865adbcd2b33cc.setContent(html_1038ad57934e4a92bbe1f0ace6c9b3ab);
        

        marker_178b77b7d9c74c249e23a0d57b72692b.bindPopup(popup_c03aa90bfd434931a8865adbcd2b33cc)
        ;

        
    
    
            var marker_1959d4b9dd064aad9eefb555a3f5e08c = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_08502e6df53140c99f2dce7431b40269);
        
    
            var icon_e71a80a9296b403492f6ec877f9c6179 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1959d4b9dd064aad9eefb555a3f5e08c.setIcon(icon_e71a80a9296b403492f6ec877f9c6179);
        
    
        var popup_1a3d2da7aa4f4fcdbceaaa9707e443b1 = L.popup({"maxWidth": 150});

        
            var html_bcfe4945d58444e69022c133e7afb3a2 = $(`<div id="html_bcfe4945d58444e69022c133e7afb3a2" style="width: 100.0%; height: 100.0%;">Load ID: 1123123<br>Drive my truck<br>123 Main Street <br>Columbus OH</div>`)[0];
            popup_1a3d2da7aa4f4fcdbceaaa9707e443b1.setContent(html_bcfe4945d58444e69022c133e7afb3a2);
        

        marker_1959d4b9dd064aad9eefb555a3f5e08c.bindPopup(popup_1a3d2da7aa4f4fcdbceaaa9707e443b1)
        ;

        
    
</script>