<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5f919f6c02844793ad80eb51afaa33e3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_5f919f6c02844793ad80eb51afaa33e3" ></div>
        
</body>
<script>    
    
            var map_5f919f6c02844793ad80eb51afaa33e3 = L.map(
                "map_5f919f6c02844793ad80eb51afaa33e3",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bea4f6c5f0ee4ab19b8a8b46d6714ffc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var poly_line_5f5d8f4d15fc4c04b003f7e6a268b2fd = L.polyline(
                [[40.022975, -75.219292], [40.736681, -74.186132]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_38c4b5ad3b264c5286987f4b9d17d1a1 = new L.RegularPolygonMarker(
                [40.2014015, -74.961002],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_b2f32508ee7b4bf8aa525978e3f33170 = new L.RegularPolygonMarker(
                [40.379828, -74.70271199999999],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_0688fa49c1b84524a753d775b423e185 = new L.RegularPolygonMarker(
                [40.5582545, -74.444422],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var poly_line_bb83fea5cebf4266b616a26a1bed1699 = L.polyline(
                [[39.29657, -76.616106], [40.022975, -75.219292]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_db19fdf8afc14b35ab188896f2b46c7f = new L.RegularPolygonMarker(
                [39.47817125, -76.2669025],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_a99712ad5d1f4c2e89469fc6ac7548f4 = new L.RegularPolygonMarker(
                [39.6597725, -75.917699],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_dfa47b145d1e4db8bfdcb44f46360e22 = new L.RegularPolygonMarker(
                [39.84137375, -75.5684955],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var poly_line_6df829c29c2947b8b661b94be88bb1ce = L.polyline(
                [[39.955681, -83.002757], [42.658293, -73.751163]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_a896320b18464f26bf09163954993745 = new L.RegularPolygonMarker(
                [40.631333999999995, -80.6898585],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_93425b8ebc0f4404b2a6925b22e27e72 = new L.RegularPolygonMarker(
                [41.306987, -78.37696],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_15bdc865969f48d0b3030084b3f605e7 = new L.RegularPolygonMarker(
                [41.98264, -76.06406150000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var poly_line_3339e6e039e54359a1edd42be24fed8c = L.polyline(
                [[39.955681, -83.002757], [40.715257, -74.050824]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_7cff401e02b84e83a5c5a4d59618f5b4 = new L.RegularPolygonMarker(
                [40.145575, -80.76477375],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_5bce60a10bfd4b6d938f1b29f49f1524 = new L.RegularPolygonMarker(
                [40.335469, -78.5267905],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_3ce618866a6e43cd92acf22a0cab5a77 = new L.RegularPolygonMarker(
                [40.525363, -76.28880725],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var poly_line_d337d51e60004327a0e47a98deb9bdaa = L.polyline(
                [[39.29657, -76.616106], [39.955681, -83.002757]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_ef0187c0bc9147e48dd47fd328fa77a8 = new L.RegularPolygonMarker(
                [39.46134775, -78.21276875000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_74488f381ded421994f037b4a8e0c238 = new L.RegularPolygonMarker(
                [39.6261255, -79.8094315],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_cdd7ad2f65404a6bb1c94cf474dc0b04 = new L.RegularPolygonMarker(
                [39.79090325, -81.40609425],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var poly_line_8440ddbc499e4ff9a458d788daf9fa55 = L.polyline(
                [[39.955681, -83.002757], [40.734749, -73.990611]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_e4d8774942ce4105a5d586b7e9fd3bfe = new L.RegularPolygonMarker(
                [40.150448, -80.7497205],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_ca3139f75fc34180b777fe80ee621170 = new L.RegularPolygonMarker(
                [40.345214999999996, -78.496684],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            var regular_polygon_marker_b6d9b920da00463794a185224a92ba8f = new L.RegularPolygonMarker(
                [40.539982, -76.24364750000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_5f919f6c02844793ad80eb51afaa33e3);
        
    
            map_5f919f6c02844793ad80eb51afaa33e3.fitBounds(
                [[39.29657, -83.002757], [42.658293, -73.751163]],
                {}
            );
        
    
            var marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105 = L.markerClusterGroup(
                {}
            );
            map_5f919f6c02844793ad80eb51afaa33e3.addLayer(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var marker_79b500a528304baf82e8795c0875a6fd = L.marker(
                [40.736681, -74.186132],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_41e89e9edd46406eb7d21cc3ec1efd56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_79b500a528304baf82e8795c0875a6fd.setIcon(icon_41e89e9edd46406eb7d21cc3ec1efd56);
        
    
        var popup_cf0b6ed802294914bc0a481cc727d0da = L.popup({"maxWidth": 150});

        
            var html_ec5af5b78676493291e1effdb2e63b04 = $(`<div id="html_ec5af5b78676493291e1effdb2e63b04" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>206 Springfield Ave <br>Newark NJ</div>`)[0];
            popup_cf0b6ed802294914bc0a481cc727d0da.setContent(html_ec5af5b78676493291e1effdb2e63b04);
        

        marker_79b500a528304baf82e8795c0875a6fd.bindPopup(popup_cf0b6ed802294914bc0a481cc727d0da)
        ;

        
    
    
            var marker_3d8918f1587747dabce6198605ad2cd1 = L.marker(
                [40.022975, -75.219292],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_31ed71b7ec2f4ea7a73ac9ab68fabfc8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3d8918f1587747dabce6198605ad2cd1.setIcon(icon_31ed71b7ec2f4ea7a73ac9ab68fabfc8);
        
    
        var popup_a94a27bbab2d4d0d9408647d9d7eafa0 = L.popup({"maxWidth": 150});

        
            var html_71845119e1a84734b1896c8a7a8ba9b1 = $(`<div id="html_71845119e1a84734b1896c8a7a8ba9b1" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>123 Main street <br>Philadelphia PA</div>`)[0];
            popup_a94a27bbab2d4d0d9408647d9d7eafa0.setContent(html_71845119e1a84734b1896c8a7a8ba9b1);
        

        marker_3d8918f1587747dabce6198605ad2cd1.bindPopup(popup_a94a27bbab2d4d0d9408647d9d7eafa0)
        ;

        
    
    
            var marker_ac88de9a14f14f46b92d333d7eaa7883 = L.marker(
                [39.29657, -76.616106],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_11384b22e1b64acf938700d534866872 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ac88de9a14f14f46b92d333d7eaa7883.setIcon(icon_11384b22e1b64acf938700d534866872);
        
    
        var popup_e9c1e6a46249425d891f8a97f6b4908f = L.popup({"maxWidth": 150});

        
            var html_e57b3107ca3048f98b348f058c9693be = $(`<div id="html_e57b3107ca3048f98b348f058c9693be" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>600 N Charles St <br>Baltimore MD</div>`)[0];
            popup_e9c1e6a46249425d891f8a97f6b4908f.setContent(html_e57b3107ca3048f98b348f058c9693be);
        

        marker_ac88de9a14f14f46b92d333d7eaa7883.bindPopup(popup_e9c1e6a46249425d891f8a97f6b4908f)
        ;

        
    
    
            var marker_e1015ff3c802481f9f1e995f91ba326d = L.marker(
                [42.658293, -73.751163],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_9b0e1b451d7d4256bdab023d3ef76a10 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e1015ff3c802481f9f1e995f91ba326d.setIcon(icon_9b0e1b451d7d4256bdab023d3ef76a10);
        
    
        var popup_372f57b24a8c41c7b9b93ea3fb1c9040 = L.popup({"maxWidth": 150});

        
            var html_0b9a989e2b1f4bd58f3db555570b3224 = $(`<div id="html_0b9a989e2b1f4bd58f3db555570b3224" style="width: 100.0%; height: 100.0%;">Load ID: 5554434<br>Driving<br>9 Ten Broeck Pl <br>Albany NY</div>`)[0];
            popup_372f57b24a8c41c7b9b93ea3fb1c9040.setContent(html_0b9a989e2b1f4bd58f3db555570b3224);
        

        marker_e1015ff3c802481f9f1e995f91ba326d.bindPopup(popup_372f57b24a8c41c7b9b93ea3fb1c9040)
        ;

        
    
    
            var marker_f5ebf71d3a2348c18a4af9d1c406b680 = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_694c8c2fe76a4319b3ccd366b407ea51 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f5ebf71d3a2348c18a4af9d1c406b680.setIcon(icon_694c8c2fe76a4319b3ccd366b407ea51);
        
    
        var popup_cd455373816847c08a5a65dbd84e91b4 = L.popup({"maxWidth": 150});

        
            var html_9cbc0c8437864b07b24b9bbf1447dced = $(`<div id="html_9cbc0c8437864b07b24b9bbf1447dced" style="width: 100.0%; height: 100.0%;">Load ID: 5554434<br>Driving<br>123 Main St <br>Columbus OH</div>`)[0];
            popup_cd455373816847c08a5a65dbd84e91b4.setContent(html_9cbc0c8437864b07b24b9bbf1447dced);
        

        marker_f5ebf71d3a2348c18a4af9d1c406b680.bindPopup(popup_cd455373816847c08a5a65dbd84e91b4)
        ;

        
    
    
            var marker_b9b2c47b9f4a4d41849e11989219866e = L.marker(
                [40.715257, -74.050824],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_4a6e1e6eac114e2daab16b78f53c9e07 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b9b2c47b9f4a4d41849e11989219866e.setIcon(icon_4a6e1e6eac114e2daab16b78f53c9e07);
        
    
        var popup_23241ac1c4be49dc9916fded80d4f9ce = L.popup({"maxWidth": 150});

        
            var html_72b59b1cd5834fc4b7c1cf2dfc6267e3 = $(`<div id="html_72b59b1cd5834fc4b7c1cf2dfc6267e3" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>355 Grand St <br>Jersey City NJ</div>`)[0];
            popup_23241ac1c4be49dc9916fded80d4f9ce.setContent(html_72b59b1cd5834fc4b7c1cf2dfc6267e3);
        

        marker_b9b2c47b9f4a4d41849e11989219866e.bindPopup(popup_23241ac1c4be49dc9916fded80d4f9ce)
        ;

        
    
    
            var marker_d648411353a74cf89ee6d47c2ded86d9 = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_bb5af6a7be5d49fea78b095564370668 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d648411353a74cf89ee6d47c2ded86d9.setIcon(icon_bb5af6a7be5d49fea78b095564370668);
        
    
        var popup_fb1f6572c70f47f98ea7f1b186420c72 = L.popup({"maxWidth": 150});

        
            var html_7075166ed63e4d05b2faa38f8663a66b = $(`<div id="html_7075166ed63e4d05b2faa38f8663a66b" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>123 Main St <br>Columbus OH</div>`)[0];
            popup_fb1f6572c70f47f98ea7f1b186420c72.setContent(html_7075166ed63e4d05b2faa38f8663a66b);
        

        marker_d648411353a74cf89ee6d47c2ded86d9.bindPopup(popup_fb1f6572c70f47f98ea7f1b186420c72)
        ;

        
    
    
            var marker_224393b99c5549eea24369d307ffee76 = L.marker(
                [39.29657, -76.616106],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_cbb8ef5a3c354f7385f5f95eb5feada8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_224393b99c5549eea24369d307ffee76.setIcon(icon_cbb8ef5a3c354f7385f5f95eb5feada8);
        
    
        var popup_ce2e6e7366f54d8a9e0e28fa33085399 = L.popup({"maxWidth": 150});

        
            var html_b9c3805ab9e1495ca866177b200bc085 = $(`<div id="html_b9c3805ab9e1495ca866177b200bc085" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>600 N Charles St <br>Baltimore MD</div>`)[0];
            popup_ce2e6e7366f54d8a9e0e28fa33085399.setContent(html_b9c3805ab9e1495ca866177b200bc085);
        

        marker_224393b99c5549eea24369d307ffee76.bindPopup(popup_ce2e6e7366f54d8a9e0e28fa33085399)
        ;

        
    
    
            var marker_0be3d792a60d42b9adec889ed4cb1eed = L.marker(
                [40.734749, -73.990611],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_4d6496f25c804cf896b450d63d66d74b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0be3d792a60d42b9adec889ed4cb1eed.setIcon(icon_4d6496f25c804cf896b450d63d66d74b);
        
    
        var popup_ccb31b66c8d6472680460f2870c43abf = L.popup({"maxWidth": 150});

        
            var html_0aaf01fcf7d04c1f9f23d78cbf0acab0 = $(`<div id="html_0aaf01fcf7d04c1f9f23d78cbf0acab0" style="width: 100.0%; height: 100.0%;">Load ID: 1123123<br>Drive my truck<br>123 E Broadway <br>New York NY</div>`)[0];
            popup_ccb31b66c8d6472680460f2870c43abf.setContent(html_0aaf01fcf7d04c1f9f23d78cbf0acab0);
        

        marker_0be3d792a60d42b9adec889ed4cb1eed.bindPopup(popup_ccb31b66c8d6472680460f2870c43abf)
        ;

        
    
    
            var marker_53eaf00fac604ac4a4df11f1f46946da = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_1d6a0620cdcd48f0a6981c2a21aea105);
        
    
            var icon_37a0e652024f4b4aa33e719a356511af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_53eaf00fac604ac4a4df11f1f46946da.setIcon(icon_37a0e652024f4b4aa33e719a356511af);
        
    
        var popup_e76d10836d2844afb8450d541b4c600e = L.popup({"maxWidth": 150});

        
            var html_78761194503242a8a6617dca59f0750e = $(`<div id="html_78761194503242a8a6617dca59f0750e" style="width: 100.0%; height: 100.0%;">Load ID: 1123123<br>Drive my truck<br>123 Main Street <br>Columbus OH</div>`)[0];
            popup_e76d10836d2844afb8450d541b4c600e.setContent(html_78761194503242a8a6617dca59f0750e);
        

        marker_53eaf00fac604ac4a4df11f1f46946da.bindPopup(popup_e76d10836d2844afb8450d541b4c600e)
        ;

        
    
</script>