<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8365a402ae3b4734a3d71ab79572d91c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_8365a402ae3b4734a3d71ab79572d91c" ></div>
        
</body>
<script>    
    
            var map_8365a402ae3b4734a3d71ab79572d91c = L.map(
                "map_8365a402ae3b4734a3d71ab79572d91c",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_040a8a6ec3694a0f817740ce28240538 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var poly_line_ac42eae0d1ae4fb0afc13faaf36b8698 = L.polyline(
                [[40.022975, -75.219292], [40.736681, -74.186132]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_7d2383d57ba64ef1ab2dc1c27145fced = new L.RegularPolygonMarker(
                [40.2014015, -74.961002],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_b789ae17fc8845c2b4941b4b6bcd84e2 = new L.RegularPolygonMarker(
                [40.379828, -74.70271199999999],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_c8c3028dd94a4a65895848238635f91c = new L.RegularPolygonMarker(
                [40.5582545, -74.444422],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var poly_line_d5933972d2904ac7abe0bb0a69a7119e = L.polyline(
                [[39.29657, -76.616106], [40.022975, -75.219292]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_61e78890d70249a7b164685de381a470 = new L.RegularPolygonMarker(
                [39.47817125, -76.2669025],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_87e656380ae6464780003952275064ed = new L.RegularPolygonMarker(
                [39.6597725, -75.917699],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_c3dc6317f533443ea398a8d80bd983f1 = new L.RegularPolygonMarker(
                [39.84137375, -75.5684955],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var poly_line_6dee257880ed4d94b7165789de8458bf = L.polyline(
                [[40.022975, -75.219292], [40.736681, -74.186132]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_16990d65c96148ce8b26a3a99f599612 = new L.RegularPolygonMarker(
                [40.2014015, -74.961002],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_00d1f13ebfa240b1acf63217960054cb = new L.RegularPolygonMarker(
                [40.379828, -74.70271199999999],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_da98844f863945d99056dcdabe7988ff = new L.RegularPolygonMarker(
                [40.5582545, -74.444422],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 137.46332791873002, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var poly_line_fde6b23d1a844e8f8f4bff8f662aed09 = L.polyline(
                [[39.29657, -76.616106], [40.022975, -75.219292]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_ce6e85f146a447cb955667f61bb60310 = new L.RegularPolygonMarker(
                [39.47817125, -76.2669025],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_8cdc40b035cd412f997dcad3c4733f65 = new L.RegularPolygonMarker(
                [39.6597725, -75.917699],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_da77e895f5d24becb1cd57f8c666707a = new L.RegularPolygonMarker(
                [39.84137375, -75.5684955],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 145.51609195320668, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var poly_line_b7aa8024ec124850bc387d9d9943202a = L.polyline(
                [[39.955681, -83.002757], [42.658293, -73.751163]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_ebf84044b56f40ab81a5c5ee2b14834d = new L.RegularPolygonMarker(
                [40.631333999999995, -80.6898585],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_f8107ad61f594530851789c584f6ac3a = new L.RegularPolygonMarker(
                [41.306987, -78.37696],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_c0dda107e5044f018c09f73b1ce43f85 = new L.RegularPolygonMarker(
                [41.98264, -76.06406150000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 155.7355164740244, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var poly_line_7d41ae138a7143398fbe1721855bc469 = L.polyline(
                [[39.955681, -83.002757], [40.715257, -74.050824]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_4109b2107a274844b7e0002d4ac0d181 = new L.RegularPolygonMarker(
                [40.145575, -80.76477375],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_dc120f8b5b164364ae2e01f9ca74c41f = new L.RegularPolygonMarker(
                [40.335469, -78.5267905],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_4d0b61cd42ae404ab953e84c7526303f = new L.RegularPolygonMarker(
                [40.525363, -76.28880725],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.7606219690521, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var poly_line_2bfabebeefd647b18381cc85d177b117 = L.polyline(
                [[39.29657, -76.616106], [39.955681, -83.002757]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_321e2eb4a23d44d59a2519e8c84c11da = new L.RegularPolygonMarker(
                [39.46134775, -78.21276875000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_8adaffa5d4024efd98a8f0920c11dc70 = new L.RegularPolygonMarker(
                [39.6261255, -79.8094315],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_a4c3b5f6bbbb423a9e30b49f03bded79 = new L.RegularPolygonMarker(
                [39.79090325, -81.40609425],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 369.66160850363417, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var poly_line_2d826ede198a483db58c4095a83c80a4 = L.polyline(
                [[39.955681, -83.002757], [40.734749, -73.990611]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_19ce06f4490343349a2220c7402aad84 = new L.RegularPolygonMarker(
                [40.150448, -80.7497205],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_6015ee4933404aef87e2248d52bf5ebe = new L.RegularPolygonMarker(
                [40.345214999999996, -78.496684],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            var regular_polygon_marker_87c7fc27ea0e498d832ca4bc68d2b281 = new L.RegularPolygonMarker(
                [40.539982, -76.24364750000001],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFFFFF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 170.6215040707698, "stroke": true, "weight": 3}
            ).addTo(map_8365a402ae3b4734a3d71ab79572d91c);
        
    
            map_8365a402ae3b4734a3d71ab79572d91c.fitBounds(
                [[39.29657, -83.002757], [42.658293, -73.751163]],
                {}
            );
        
    
            var marker_cluster_37355e3aa0cb41ebbac6da32639ca7db = L.markerClusterGroup(
                {}
            );
            map_8365a402ae3b4734a3d71ab79572d91c.addLayer(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var marker_808ae446a7674b339f1054eaaab004ef = L.marker(
                [40.736681, -74.186132],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_96c2a8696a754f9bb1d51946252fe4ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_808ae446a7674b339f1054eaaab004ef.setIcon(icon_96c2a8696a754f9bb1d51946252fe4ad);
        
    
        var popup_3492b6dcf3a147748709aa8f72936d96 = L.popup({"maxWidth": 150});

        
            var html_801101a7638c495886f9d41d22d81444 = $(`<div id="html_801101a7638c495886f9d41d22d81444" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>206 Springfield Ave <br>Newark NJ</div>`)[0];
            popup_3492b6dcf3a147748709aa8f72936d96.setContent(html_801101a7638c495886f9d41d22d81444);
        

        marker_808ae446a7674b339f1054eaaab004ef.bindPopup(popup_3492b6dcf3a147748709aa8f72936d96)
        ;

        
    
    
            var marker_feb79eac6ad34ddebc8fe651af43fd50 = L.marker(
                [40.022975, -75.219292],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_bbb03d98d6774d65830264826905bb08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_feb79eac6ad34ddebc8fe651af43fd50.setIcon(icon_bbb03d98d6774d65830264826905bb08);
        
    
        var popup_c0144009418a44c9b4b5b80f9ed6489c = L.popup({"maxWidth": 150});

        
            var html_19917e717e70433ba9a124d6bfacb0fb = $(`<div id="html_19917e717e70433ba9a124d6bfacb0fb" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>123 Main street <br>Philadelphia PA</div>`)[0];
            popup_c0144009418a44c9b4b5b80f9ed6489c.setContent(html_19917e717e70433ba9a124d6bfacb0fb);
        

        marker_feb79eac6ad34ddebc8fe651af43fd50.bindPopup(popup_c0144009418a44c9b4b5b80f9ed6489c)
        ;

        
    
    
            var marker_3586ab50c17b468ba3c778e704687f98 = L.marker(
                [39.29657, -76.616106],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_58275a778ed44127b2455de37d3bddac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3586ab50c17b468ba3c778e704687f98.setIcon(icon_58275a778ed44127b2455de37d3bddac);
        
    
        var popup_e867717dae714da18a98bd4baa841635 = L.popup({"maxWidth": 150});

        
            var html_b1913c00223e4b70aac6bbd920712612 = $(`<div id="html_b1913c00223e4b70aac6bbd920712612" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>600 N Charles St <br>Baltimore MD</div>`)[0];
            popup_e867717dae714da18a98bd4baa841635.setContent(html_b1913c00223e4b70aac6bbd920712612);
        

        marker_3586ab50c17b468ba3c778e704687f98.bindPopup(popup_e867717dae714da18a98bd4baa841635)
        ;

        
    
    
            var marker_0ca4a1d81f6e400ca2b0e0463d0db8c7 = L.marker(
                [40.736681, -74.186132],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_d0572e77a6a045b3aa8c49a85007af47 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0ca4a1d81f6e400ca2b0e0463d0db8c7.setIcon(icon_d0572e77a6a045b3aa8c49a85007af47);
        
    
        var popup_4752851f230443f195b3e5e646edc204 = L.popup({"maxWidth": 150});

        
            var html_67c663fe507c46fa94146e34f5ab3812 = $(`<div id="html_67c663fe507c46fa94146e34f5ab3812" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>206 Springfield Ave <br>Newark NJ</div>`)[0];
            popup_4752851f230443f195b3e5e646edc204.setContent(html_67c663fe507c46fa94146e34f5ab3812);
        

        marker_0ca4a1d81f6e400ca2b0e0463d0db8c7.bindPopup(popup_4752851f230443f195b3e5e646edc204)
        ;

        
    
    
            var marker_f8a521662b4e4dbc9341855745abc6e2 = L.marker(
                [40.022975, -75.219292],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_69bbfc22acd04db9971ec8ed24f62d0c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f8a521662b4e4dbc9341855745abc6e2.setIcon(icon_69bbfc22acd04db9971ec8ed24f62d0c);
        
    
        var popup_05084c29f0b447f883f65cbda683f419 = L.popup({"maxWidth": 150});

        
            var html_cdf19aede82d4e618963191bd5c2dacb = $(`<div id="html_cdf19aede82d4e618963191bd5c2dacb" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>123 Main street <br>Philadelphia PA</div>`)[0];
            popup_05084c29f0b447f883f65cbda683f419.setContent(html_cdf19aede82d4e618963191bd5c2dacb);
        

        marker_f8a521662b4e4dbc9341855745abc6e2.bindPopup(popup_05084c29f0b447f883f65cbda683f419)
        ;

        
    
    
            var marker_348166e22a214cfd9baec9ea762213a4 = L.marker(
                [39.29657, -76.616106],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_497f0a93bd374ccea492f74773802a0c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_348166e22a214cfd9baec9ea762213a4.setIcon(icon_497f0a93bd374ccea492f74773802a0c);
        
    
        var popup_e984184cf580482aad751c0129881291 = L.popup({"maxWidth": 150});

        
            var html_ffafc6bad1ce4f1b861a1e27edbe1ced = $(`<div id="html_ffafc6bad1ce4f1b861a1e27edbe1ced" style="width: 100.0%; height: 100.0%;">Load ID: 466362<br>Henry Farmers' Market Delivery<br>600 N Charles St <br>Baltimore MD</div>`)[0];
            popup_e984184cf580482aad751c0129881291.setContent(html_ffafc6bad1ce4f1b861a1e27edbe1ced);
        

        marker_348166e22a214cfd9baec9ea762213a4.bindPopup(popup_e984184cf580482aad751c0129881291)
        ;

        
    
    
            var marker_7ddc21f14bb24dd9969f165d23c33e8b = L.marker(
                [42.658293, -73.751163],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_6e943b48dea6439387934d1338ade3e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7ddc21f14bb24dd9969f165d23c33e8b.setIcon(icon_6e943b48dea6439387934d1338ade3e2);
        
    
        var popup_d1ab1fba5c294369be012bed287bbc3f = L.popup({"maxWidth": 150});

        
            var html_a1b89de6a41a42d683abdc432f73d2d8 = $(`<div id="html_a1b89de6a41a42d683abdc432f73d2d8" style="width: 100.0%; height: 100.0%;">Load ID: 5554434<br>Driving<br>9 Ten Broeck Pl <br>Albany NY</div>`)[0];
            popup_d1ab1fba5c294369be012bed287bbc3f.setContent(html_a1b89de6a41a42d683abdc432f73d2d8);
        

        marker_7ddc21f14bb24dd9969f165d23c33e8b.bindPopup(popup_d1ab1fba5c294369be012bed287bbc3f)
        ;

        
    
    
            var marker_1959d36863fd45eabbb8ff8a5ed6097c = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_1aebd1450de4498eaaadd3b0e3aed2f3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1959d36863fd45eabbb8ff8a5ed6097c.setIcon(icon_1aebd1450de4498eaaadd3b0e3aed2f3);
        
    
        var popup_633b3e015e5f40efaf36c1c39a8914c7 = L.popup({"maxWidth": 150});

        
            var html_46db9f13a63942bca4c64c817f2e4a8c = $(`<div id="html_46db9f13a63942bca4c64c817f2e4a8c" style="width: 100.0%; height: 100.0%;">Load ID: 5554434<br>Driving<br>123 Main St <br>Columbus OH</div>`)[0];
            popup_633b3e015e5f40efaf36c1c39a8914c7.setContent(html_46db9f13a63942bca4c64c817f2e4a8c);
        

        marker_1959d36863fd45eabbb8ff8a5ed6097c.bindPopup(popup_633b3e015e5f40efaf36c1c39a8914c7)
        ;

        
    
    
            var marker_babb12b3908846bb9f5824206e8aa4d9 = L.marker(
                [40.715257, -74.050824],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_7c690b8f7cfc4211ae66f43847a454f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_babb12b3908846bb9f5824206e8aa4d9.setIcon(icon_7c690b8f7cfc4211ae66f43847a454f7);
        
    
        var popup_bccd6e4c3e6b40f5a379eaab6ded6ca5 = L.popup({"maxWidth": 150});

        
            var html_e4e795047c2b4a589562b521be114ac1 = $(`<div id="html_e4e795047c2b4a589562b521be114ac1" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>355 Grand St <br>Jersey City NJ</div>`)[0];
            popup_bccd6e4c3e6b40f5a379eaab6ded6ca5.setContent(html_e4e795047c2b4a589562b521be114ac1);
        

        marker_babb12b3908846bb9f5824206e8aa4d9.bindPopup(popup_bccd6e4c3e6b40f5a379eaab6ded6ca5)
        ;

        
    
    
            var marker_902ab85e26cc45f99435efa5a0be971b = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_be0a91e01239494b963206b0193db0c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_902ab85e26cc45f99435efa5a0be971b.setIcon(icon_be0a91e01239494b963206b0193db0c9);
        
    
        var popup_6c7042967e75427596e37b5c4be692d5 = L.popup({"maxWidth": 150});

        
            var html_71ec35cdfbef4a09832b708393fe6f75 = $(`<div id="html_71ec35cdfbef4a09832b708393fe6f75" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>123 Main St <br>Columbus OH</div>`)[0];
            popup_6c7042967e75427596e37b5c4be692d5.setContent(html_71ec35cdfbef4a09832b708393fe6f75);
        

        marker_902ab85e26cc45f99435efa5a0be971b.bindPopup(popup_6c7042967e75427596e37b5c4be692d5)
        ;

        
    
    
            var marker_b9fdacf34cd447b7af1d09a31777da02 = L.marker(
                [39.29657, -76.616106],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_d0d6a7efaf1442f288f4dca580dce094 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b9fdacf34cd447b7af1d09a31777da02.setIcon(icon_d0d6a7efaf1442f288f4dca580dce094);
        
    
        var popup_9d65face60aa43adb72a33cacbe4ffe4 = L.popup({"maxWidth": 150});

        
            var html_b87852f4e20b4150840f087dc09d8cd8 = $(`<div id="html_b87852f4e20b4150840f087dc09d8cd8" style="width: 100.0%; height: 100.0%;">Load ID: 88987766<br>Nuts and Bolts Delivery<br>600 N Charles St <br>Baltimore MD</div>`)[0];
            popup_9d65face60aa43adb72a33cacbe4ffe4.setContent(html_b87852f4e20b4150840f087dc09d8cd8);
        

        marker_b9fdacf34cd447b7af1d09a31777da02.bindPopup(popup_9d65face60aa43adb72a33cacbe4ffe4)
        ;

        
    
    
            var marker_337dd8e1f7394dbdb8a8f1f1dd0443f7 = L.marker(
                [40.734749, -73.990611],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_60cf4cbf93ce494e860b845365ba1adc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_337dd8e1f7394dbdb8a8f1f1dd0443f7.setIcon(icon_60cf4cbf93ce494e860b845365ba1adc);
        
    
        var popup_2106e8f4831342ceaadcbfb6347d3d94 = L.popup({"maxWidth": 150});

        
            var html_bd722869333140dd8e0d5eccb0b4e2e5 = $(`<div id="html_bd722869333140dd8e0d5eccb0b4e2e5" style="width: 100.0%; height: 100.0%;">Load ID: 1123123<br>Drive my truck<br>123 E Broadway <br>New York NY</div>`)[0];
            popup_2106e8f4831342ceaadcbfb6347d3d94.setContent(html_bd722869333140dd8e0d5eccb0b4e2e5);
        

        marker_337dd8e1f7394dbdb8a8f1f1dd0443f7.bindPopup(popup_2106e8f4831342ceaadcbfb6347d3d94)
        ;

        
    
    
            var marker_91d54e737cea404b80e4ac0960a834c7 = L.marker(
                [39.955681, -83.002757],
                {}
            ).addTo(marker_cluster_37355e3aa0cb41ebbac6da32639ca7db);
        
    
            var icon_4246db3f53e84e1a9103232fe9a88aa4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_91d54e737cea404b80e4ac0960a834c7.setIcon(icon_4246db3f53e84e1a9103232fe9a88aa4);
        
    
        var popup_3ed70aeb3a414f8ea4e9ed9c8128dc24 = L.popup({"maxWidth": 150});

        
            var html_c38f4f3d269a493180d313b0b077915f = $(`<div id="html_c38f4f3d269a493180d313b0b077915f" style="width: 100.0%; height: 100.0%;">Load ID: 1123123<br>Drive my truck<br>123 Main Street <br>Columbus OH</div>`)[0];
            popup_3ed70aeb3a414f8ea4e9ed9c8128dc24.setContent(html_c38f4f3d269a493180d313b0b077915f);
        

        marker_91d54e737cea404b80e4ac0960a834c7.bindPopup(popup_3ed70aeb3a414f8ea4e9ed9c8128dc24)
        ;

        
    
</script>