<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_49b1896d7b544076b95359f5b7ac1036 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_49b1896d7b544076b95359f5b7ac1036" ></div>
        
</body>
<script>    
    
            var map_49b1896d7b544076b95359f5b7ac1036 = L.map(
                "map_49b1896d7b544076b95359f5b7ac1036",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_236d4e13dc4548ed836b14af5580be69 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_49b1896d7b544076b95359f5b7ac1036);
        
    
            map_49b1896d7b544076b95359f5b7ac1036.fitBounds(
                [[26.17492, -117.49637], [40.91285, -73.84737]],
                {}
            );
        
    
            var marker_cluster_9875dcfccbef425db84d89db53ef0285 = L.markerClusterGroup(
                {}
            );
            map_49b1896d7b544076b95359f5b7ac1036.addLayer(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var marker_950ca32e6aa74dbb895b20d2e6f6e3b3 = L.marker(
                [39.87297, -74.89324],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_746b629676bb499aa69eae355ef5c606 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_950ca32e6aa74dbb895b20d2e6f6e3b3.setIcon(icon_746b629676bb499aa69eae355ef5c606);
        
    
        var popup_95793ec24b814e23b1c5798856233e8e = L.popup({"maxWidth": 150});

        
            var html_1776d22605bd4aefba319630cfd2f5e9 = $(`<div id="html_1776d22605bd4aefba319630cfd2f5e9" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-20</div>`)[0];
            popup_95793ec24b814e23b1c5798856233e8e.setContent(html_1776d22605bd4aefba319630cfd2f5e9);
        

        marker_950ca32e6aa74dbb895b20d2e6f6e3b3.bindPopup(popup_95793ec24b814e23b1c5798856233e8e)
        ;

        
    
    
            var marker_1863d500f04c48fa85c9176aa9958212 = L.marker(
                [40.91285, -74.15009],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_87d123f88eb1489c845f4b8b006bc91a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1863d500f04c48fa85c9176aa9958212.setIcon(icon_87d123f88eb1489c845f4b8b006bc91a);
        
    
        var popup_12d18885f33248c1a1ff7cfe9f66bb19 = L.popup({"maxWidth": 150});

        
            var html_5ee28b3311cd495abeaf3a8caeafa278 = $(`<div id="html_5ee28b3311cd495abeaf3a8caeafa278" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-28</div>`)[0];
            popup_12d18885f33248c1a1ff7cfe9f66bb19.setContent(html_5ee28b3311cd495abeaf3a8caeafa278);
        

        marker_1863d500f04c48fa85c9176aa9958212.bindPopup(popup_12d18885f33248c1a1ff7cfe9f66bb19)
        ;

        
    
    
            var marker_ecb39e5759cb4dc2a70e3aacd0699f7e = L.marker(
                [40.5799354, -74.2216346],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_bcd9deaebe244d309cb04b99ca6ee47b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ecb39e5759cb4dc2a70e3aacd0699f7e.setIcon(icon_bcd9deaebe244d309cb04b99ca6ee47b);
        
    
        var popup_c30b71d85d09485ab99b77678e1a1bc2 = L.popup({"maxWidth": 150});

        
            var html_85e25b09403d425cbe97f320acd792ee = $(`<div id="html_85e25b09403d425cbe97f320acd792ee" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-01</div>`)[0];
            popup_c30b71d85d09485ab99b77678e1a1bc2.setContent(html_85e25b09403d425cbe97f320acd792ee);
        

        marker_ecb39e5759cb4dc2a70e3aacd0699f7e.bindPopup(popup_c30b71d85d09485ab99b77678e1a1bc2)
        ;

        
    
    
            var marker_0160817212544a778792b8b134a49c2e = L.marker(
                [39.43666, -74.86598],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_b6b457f8c7614826b1f91840e8df9a11 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0160817212544a778792b8b134a49c2e.setIcon(icon_b6b457f8c7614826b1f91840e8df9a11);
        
    
        var popup_323866eaba4c4f4c9c03251ac901c932 = L.popup({"maxWidth": 150});

        
            var html_f9c052106d194b7388b9659eceb5a2a2 = $(`<div id="html_f9c052106d194b7388b9659eceb5a2a2" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-08</div>`)[0];
            popup_323866eaba4c4f4c9c03251ac901c932.setContent(html_f9c052106d194b7388b9659eceb5a2a2);
        

        marker_0160817212544a778792b8b134a49c2e.bindPopup(popup_323866eaba4c4f4c9c03251ac901c932)
        ;

        
    
    
            var marker_940fc3a1cfce405f88ca306ab1174930 = L.marker(
                [40.7276559, -74.1910984],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_2d2f1b98c88f400c84bbee5889c1d3d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_940fc3a1cfce405f88ca306ab1174930.setIcon(icon_2d2f1b98c88f400c84bbee5889c1d3d4);
        
    
        var popup_4c222efa5c2045cd8451ff9e68844283 = L.popup({"maxWidth": 150});

        
            var html_4c9b7c174081478ea7641bb864358b3f = $(`<div id="html_4c9b7c174081478ea7641bb864358b3f" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-14</div>`)[0];
            popup_4c222efa5c2045cd8451ff9e68844283.setContent(html_4c9b7c174081478ea7641bb864358b3f);
        

        marker_940fc3a1cfce405f88ca306ab1174930.bindPopup(popup_4c222efa5c2045cd8451ff9e68844283)
        ;

        
    
    
            var marker_81283f83e6394d16b9ebc42aa68ca460 = L.marker(
                [40.29381, -73.9917],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_fcf0592119e6403e94520b4d2f925af8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_81283f83e6394d16b9ebc42aa68ca460.setIcon(icon_fcf0592119e6403e94520b4d2f925af8);
        
    
        var popup_36fbc62bec1040578b46bae2d4bcc6dd = L.popup({"maxWidth": 150});

        
            var html_d5a9fe31f0154af0b39ba27cb6b6da42 = $(`<div id="html_d5a9fe31f0154af0b39ba27cb6b6da42" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_36fbc62bec1040578b46bae2d4bcc6dd.setContent(html_d5a9fe31f0154af0b39ba27cb6b6da42);
        

        marker_81283f83e6394d16b9ebc42aa68ca460.bindPopup(popup_36fbc62bec1040578b46bae2d4bcc6dd)
        ;

        
    
    
            var marker_fd34dc6a98bf438ba322e03ddb4437c8 = L.marker(
                [40.6406216, -74.0293197],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_4578899b97624bb9833f0943c25a26c5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fd34dc6a98bf438ba322e03ddb4437c8.setIcon(icon_4578899b97624bb9833f0943c25a26c5);
        
    
        var popup_09fff43bf10148598438aefacbaac15a = L.popup({"maxWidth": 150});

        
            var html_23ef07356c394980ae7282c45f6aa817 = $(`<div id="html_23ef07356c394980ae7282c45f6aa817" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_09fff43bf10148598438aefacbaac15a.setContent(html_23ef07356c394980ae7282c45f6aa817);
        

        marker_fd34dc6a98bf438ba322e03ddb4437c8.bindPopup(popup_09fff43bf10148598438aefacbaac15a)
        ;

        
    
    
            var marker_222c7a9797fe44ce84b25424465c66bf = L.marker(
                [34.11971, -117.49637],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_f972ee4e31d940da840b8a14ec3c1670 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_222c7a9797fe44ce84b25424465c66bf.setIcon(icon_f972ee4e31d940da840b8a14ec3c1670);
        
    
        var popup_e19be0bdf5ef4b01bc408c0f1d75ee95 = L.popup({"maxWidth": 150});

        
            var html_bc931a52fbc4402b89e8cacce4bb2221 = $(`<div id="html_bc931a52fbc4402b89e8cacce4bb2221" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-24</div>`)[0];
            popup_e19be0bdf5ef4b01bc408c0f1d75ee95.setContent(html_bc931a52fbc4402b89e8cacce4bb2221);
        

        marker_222c7a9797fe44ce84b25424465c66bf.bindPopup(popup_e19be0bdf5ef4b01bc408c0f1d75ee95)
        ;

        
    
    
            var marker_0f70bc819dc442f28ec6211c52e12b25 = L.marker(
                [40.63486, -73.92373],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_44d5c5275cf4462b8c3cf7b182d3f58e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0f70bc819dc442f28ec6211c52e12b25.setIcon(icon_44d5c5275cf4462b8c3cf7b182d3f58e);
        
    
        var popup_03e63bed5d5a43b3849cda36f503bd79 = L.popup({"maxWidth": 150});

        
            var html_0af277064161462ca412e36f08da43fd = $(`<div id="html_0af277064161462ca412e36f08da43fd" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-29</div>`)[0];
            popup_03e63bed5d5a43b3849cda36f503bd79.setContent(html_0af277064161462ca412e36f08da43fd);
        

        marker_0f70bc819dc442f28ec6211c52e12b25.bindPopup(popup_03e63bed5d5a43b3849cda36f503bd79)
        ;

        
    
    
            var marker_10c205ed32684a6096011be3b06d1217 = L.marker(
                [40.6278979, -74.4317857],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_d304329db9484c4bb14808f082407928 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_10c205ed32684a6096011be3b06d1217.setIcon(icon_d304329db9484c4bb14808f082407928);
        
    
        var popup_6b3ffd99ab5640238321636d708fda45 = L.popup({"maxWidth": 150});

        
            var html_07f1cd9bc9a047f094f13f02384ac413 = $(`<div id="html_07f1cd9bc9a047f094f13f02384ac413" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-25</div>`)[0];
            popup_6b3ffd99ab5640238321636d708fda45.setContent(html_07f1cd9bc9a047f094f13f02384ac413);
        

        marker_10c205ed32684a6096011be3b06d1217.bindPopup(popup_6b3ffd99ab5640238321636d708fda45)
        ;

        
    
    
            var marker_189f7b5f9c6346568317619ff5b53588 = L.marker(
                [40.7655, -74.21289],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_8d48919002464e2c9f84937aac5a75f4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_189f7b5f9c6346568317619ff5b53588.setIcon(icon_8d48919002464e2c9f84937aac5a75f4);
        
    
        var popup_4fe9f0f7f41b4097bd071a07c448616e = L.popup({"maxWidth": 150});

        
            var html_b55dbba568024561b291bc88792b4d33 = $(`<div id="html_b55dbba568024561b291bc88792b4d33" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-01</div>`)[0];
            popup_4fe9f0f7f41b4097bd071a07c448616e.setContent(html_b55dbba568024561b291bc88792b4d33);
        

        marker_189f7b5f9c6346568317619ff5b53588.bindPopup(popup_4fe9f0f7f41b4097bd071a07c448616e)
        ;

        
    
    
            var marker_4cb5849e66fb4362a0932e0edf92722d = L.marker(
                [40.90754, -74.04402],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_acfc680ea85d49fa8adad8b2d476ed8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4cb5849e66fb4362a0932e0edf92722d.setIcon(icon_acfc680ea85d49fa8adad8b2d476ed8c);
        
    
        var popup_400c688589a440c7831b5c75a6cddc64 = L.popup({"maxWidth": 150});

        
            var html_e47463b6925a4641bbfe1a4561ddbabe = $(`<div id="html_e47463b6925a4641bbfe1a4561ddbabe" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-11</div>`)[0];
            popup_400c688589a440c7831b5c75a6cddc64.setContent(html_e47463b6925a4641bbfe1a4561ddbabe);
        

        marker_4cb5849e66fb4362a0932e0edf92722d.bindPopup(popup_400c688589a440c7831b5c75a6cddc64)
        ;

        
    
    
            var marker_2f2af9e6c8944f4fb2b5d22218bf15ca = L.marker(
                [26.17492, -80.20113],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_ce7d7dd12fc449d388abb672e5dbffd4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2f2af9e6c8944f4fb2b5d22218bf15ca.setIcon(icon_ce7d7dd12fc449d388abb672e5dbffd4);
        
    
        var popup_b4f105e07f41497283029bde5fccb94e = L.popup({"maxWidth": 150});

        
            var html_39588ad94ec04d3a900599a2217103b3 = $(`<div id="html_39588ad94ec04d3a900599a2217103b3" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_b4f105e07f41497283029bde5fccb94e.setContent(html_39588ad94ec04d3a900599a2217103b3);
        

        marker_2f2af9e6c8944f4fb2b5d22218bf15ca.bindPopup(popup_b4f105e07f41497283029bde5fccb94e)
        ;

        
    
    
            var marker_243cfbb21ca049bb84d954962f3ab966 = L.marker(
                [40.54888, -74.28801],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_a139a35632f2411a8c932815635aa89e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_243cfbb21ca049bb84d954962f3ab966.setIcon(icon_a139a35632f2411a8c932815635aa89e);
        
    
        var popup_da05567790624d6282e0e2175ac51793 = L.popup({"maxWidth": 150});

        
            var html_62424ff8dc52424fbf247b12963e3165 = $(`<div id="html_62424ff8dc52424fbf247b12963e3165" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-15</div>`)[0];
            popup_da05567790624d6282e0e2175ac51793.setContent(html_62424ff8dc52424fbf247b12963e3165);
        

        marker_243cfbb21ca049bb84d954962f3ab966.bindPopup(popup_da05567790624d6282e0e2175ac51793)
        ;

        
    
    
            var marker_0670e9cafd9c4a4fa552df309347ee4c = L.marker(
                [40.53935, -74.1785],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_19af29ab68564ab7a66d94ce843b66d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0670e9cafd9c4a4fa552df309347ee4c.setIcon(icon_19af29ab68564ab7a66d94ce843b66d7);
        
    
        var popup_d6a86d79cc93402da258c2cf39ac50aa = L.popup({"maxWidth": 150});

        
            var html_eef2501fad7f4afdb7dd6edf6f253336 = $(`<div id="html_eef2501fad7f4afdb7dd6edf6f253336" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-18</div>`)[0];
            popup_d6a86d79cc93402da258c2cf39ac50aa.setContent(html_eef2501fad7f4afdb7dd6edf6f253336);
        

        marker_0670e9cafd9c4a4fa552df309347ee4c.bindPopup(popup_d6a86d79cc93402da258c2cf39ac50aa)
        ;

        
    
    
            var marker_d7356eea5eb642f59a1fa2f272f74dae = L.marker(
                [40.85515, -74.0943],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_a89a4d2fba3341c59f017bff53490f54 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d7356eea5eb642f59a1fa2f272f74dae.setIcon(icon_a89a4d2fba3341c59f017bff53490f54);
        
    
        var popup_d002a52bbfcf4dff80c6209117186b15 = L.popup({"maxWidth": 150});

        
            var html_1cd6685038844c44a695c8737f7f2bd0 = $(`<div id="html_1cd6685038844c44a695c8737f7f2bd0" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-03</div>`)[0];
            popup_d002a52bbfcf4dff80c6209117186b15.setContent(html_1cd6685038844c44a695c8737f7f2bd0);
        

        marker_d7356eea5eb642f59a1fa2f272f74dae.bindPopup(popup_d002a52bbfcf4dff80c6209117186b15)
        ;

        
    
    
            var marker_8e834a1cf2744858a121d55d188d278b = L.marker(
                [40.71074, -73.96782],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_a023c6e6a9eb4af7b5a90ea0b88508d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8e834a1cf2744858a121d55d188d278b.setIcon(icon_a023c6e6a9eb4af7b5a90ea0b88508d2);
        
    
        var popup_6f7586f31ee54a9aba263599afd9ed10 = L.popup({"maxWidth": 150});

        
            var html_7ec56c2a8c2f43809f0fca2127c4c8c3 = $(`<div id="html_7ec56c2a8c2f43809f0fca2127c4c8c3" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-26</div>`)[0];
            popup_6f7586f31ee54a9aba263599afd9ed10.setContent(html_7ec56c2a8c2f43809f0fca2127c4c8c3);
        

        marker_8e834a1cf2744858a121d55d188d278b.bindPopup(popup_6f7586f31ee54a9aba263599afd9ed10)
        ;

        
    
    
            var marker_b8ed7776c7624a87a89f950562245e78 = L.marker(
                [40.88345, -73.84737],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_3bc34fdb86884fd59787eca14a87cc1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b8ed7776c7624a87a89f950562245e78.setIcon(icon_3bc34fdb86884fd59787eca14a87cc1d);
        
    
        var popup_ed7b092e7a4c4588880238e10983b339 = L.popup({"maxWidth": 150});

        
            var html_40cb3cbb9278455fa32f5327d7e9f008 = $(`<div id="html_40cb3cbb9278455fa32f5327d7e9f008" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-12</div>`)[0];
            popup_ed7b092e7a4c4588880238e10983b339.setContent(html_40cb3cbb9278455fa32f5327d7e9f008);
        

        marker_b8ed7776c7624a87a89f950562245e78.bindPopup(popup_ed7b092e7a4c4588880238e10983b339)
        ;

        
    
    
            var marker_07c9d22394fc43a4852f92bc4fa222ec = L.marker(
                [40.52073, -74.28003],
                {}
            ).addTo(marker_cluster_9875dcfccbef425db84d89db53ef0285);
        
    
            var icon_b4a2f5a1e42f49cb9729b03a999bf372 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_07c9d22394fc43a4852f92bc4fa222ec.setIcon(icon_b4a2f5a1e42f49cb9729b03a999bf372);
        
    
        var popup_51bdccaca6054dfb85233c9d7a759ea5 = L.popup({"maxWidth": 150});

        
            var html_b12d438979984788bf2f1a74d3776fc1 = $(`<div id="html_b12d438979984788bf2f1a74d3776fc1" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-24</div>`)[0];
            popup_51bdccaca6054dfb85233c9d7a759ea5.setContent(html_b12d438979984788bf2f1a74d3776fc1);
        

        marker_07c9d22394fc43a4852f92bc4fa222ec.bindPopup(popup_51bdccaca6054dfb85233c9d7a759ea5)
        ;

        
    
</script>