<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_65302a2cde224b4c9d44debf1375edd8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_65302a2cde224b4c9d44debf1375edd8" ></div>
        
</body>
<script>    
    
            var map_65302a2cde224b4c9d44debf1375edd8 = L.map(
                "map_65302a2cde224b4c9d44debf1375edd8",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6e32b39dca7d428790ce4594c5dee850 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_65302a2cde224b4c9d44debf1375edd8);
        
    
            map_65302a2cde224b4c9d44debf1375edd8.fitBounds(
                [[26.17492, -117.49637], [40.91285, -73.84737]],
                {}
            );
        
    
            var marker_cluster_6b4a59828a214ba0988147c9f35ad10f = L.markerClusterGroup(
                {}
            );
            map_65302a2cde224b4c9d44debf1375edd8.addLayer(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var marker_1985469e38a3481e8ba715aa433cb91f = L.marker(
                [39.87297, -74.89324],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_f5ec94a3613845d294a67c395503d12b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1985469e38a3481e8ba715aa433cb91f.setIcon(icon_f5ec94a3613845d294a67c395503d12b);
        
    
        var popup_395a883280d042d8b5df4d94e95d634b = L.popup({"maxWidth": 150});

        
            var html_fd4fd4b6760540ba92a1865f37294231 = $(`<div id="html_fd4fd4b6760540ba92a1865f37294231" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-20</div>`)[0];
            popup_395a883280d042d8b5df4d94e95d634b.setContent(html_fd4fd4b6760540ba92a1865f37294231);
        

        marker_1985469e38a3481e8ba715aa433cb91f.bindPopup(popup_395a883280d042d8b5df4d94e95d634b)
        ;

        
    
    
            var marker_8f58735ab8654c1e80a36e72924cee1f = L.marker(
                [40.91285, -74.15009],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_73cc3da9dba84dee8e1188ff62847471 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8f58735ab8654c1e80a36e72924cee1f.setIcon(icon_73cc3da9dba84dee8e1188ff62847471);
        
    
        var popup_9e4aa64c19c0499f9bbb223a96a71a2b = L.popup({"maxWidth": 150});

        
            var html_ed16d74b93234bf28875711ab99c5d24 = $(`<div id="html_ed16d74b93234bf28875711ab99c5d24" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-28</div>`)[0];
            popup_9e4aa64c19c0499f9bbb223a96a71a2b.setContent(html_ed16d74b93234bf28875711ab99c5d24);
        

        marker_8f58735ab8654c1e80a36e72924cee1f.bindPopup(popup_9e4aa64c19c0499f9bbb223a96a71a2b)
        ;

        
    
    
            var marker_1eed12d548c74a739f846432b79f5d1f = L.marker(
                [40.5799354, -74.2216346],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_5070507d601e4d9b9b7715484f95834c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1eed12d548c74a739f846432b79f5d1f.setIcon(icon_5070507d601e4d9b9b7715484f95834c);
        
    
        var popup_b3e82ed50a3141c0a269b38547156222 = L.popup({"maxWidth": 150});

        
            var html_97adfe1fe88245589a12ecaaa3b68f26 = $(`<div id="html_97adfe1fe88245589a12ecaaa3b68f26" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-01</div>`)[0];
            popup_b3e82ed50a3141c0a269b38547156222.setContent(html_97adfe1fe88245589a12ecaaa3b68f26);
        

        marker_1eed12d548c74a739f846432b79f5d1f.bindPopup(popup_b3e82ed50a3141c0a269b38547156222)
        ;

        
    
    
            var marker_b2099534d56347be9c6086cd6ff5ec47 = L.marker(
                [40.29381, -73.9917],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_370459791f164fa9a13d2de1a67e700d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b2099534d56347be9c6086cd6ff5ec47.setIcon(icon_370459791f164fa9a13d2de1a67e700d);
        
    
        var popup_587c553a1df34915a30bed68e0ebf37b = L.popup({"maxWidth": 150});

        
            var html_57443a89ecb84070bf5baceade906610 = $(`<div id="html_57443a89ecb84070bf5baceade906610" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_587c553a1df34915a30bed68e0ebf37b.setContent(html_57443a89ecb84070bf5baceade906610);
        

        marker_b2099534d56347be9c6086cd6ff5ec47.bindPopup(popup_587c553a1df34915a30bed68e0ebf37b)
        ;

        
    
    
            var marker_79c18d5b573b4f979cc5ef5c759df74d = L.marker(
                [40.6406216, -74.0293197],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_1f97cc93824b4c4592336ac1b5fc1ea2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_79c18d5b573b4f979cc5ef5c759df74d.setIcon(icon_1f97cc93824b4c4592336ac1b5fc1ea2);
        
    
        var popup_4ed6a19631754dee837a99cd62a85dc1 = L.popup({"maxWidth": 150});

        
            var html_f72cbc0113be4965afd7e720e33bb38f = $(`<div id="html_f72cbc0113be4965afd7e720e33bb38f" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_4ed6a19631754dee837a99cd62a85dc1.setContent(html_f72cbc0113be4965afd7e720e33bb38f);
        

        marker_79c18d5b573b4f979cc5ef5c759df74d.bindPopup(popup_4ed6a19631754dee837a99cd62a85dc1)
        ;

        
    
    
            var marker_902e837c204e49ab99558f7b3e94b72c = L.marker(
                [34.11971, -117.49637],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_5ad26af874d745dc86e2657254952604 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_902e837c204e49ab99558f7b3e94b72c.setIcon(icon_5ad26af874d745dc86e2657254952604);
        
    
        var popup_85f23b34a4c74280a37d5f64c383702b = L.popup({"maxWidth": 150});

        
            var html_e62fe531247c45e5aff714582b3d4ba6 = $(`<div id="html_e62fe531247c45e5aff714582b3d4ba6" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-24</div>`)[0];
            popup_85f23b34a4c74280a37d5f64c383702b.setContent(html_e62fe531247c45e5aff714582b3d4ba6);
        

        marker_902e837c204e49ab99558f7b3e94b72c.bindPopup(popup_85f23b34a4c74280a37d5f64c383702b)
        ;

        
    
    
            var marker_21ad68dd3db042f78af35ec2ccd04252 = L.marker(
                [40.63486, -73.92373],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_7981c96a0a464d1c8e0ef8739a35e200 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_21ad68dd3db042f78af35ec2ccd04252.setIcon(icon_7981c96a0a464d1c8e0ef8739a35e200);
        
    
        var popup_14a953275eb143e9972e6fd22b9374e6 = L.popup({"maxWidth": 150});

        
            var html_93b2758801a3468f92814ae84ddc6ede = $(`<div id="html_93b2758801a3468f92814ae84ddc6ede" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-29</div>`)[0];
            popup_14a953275eb143e9972e6fd22b9374e6.setContent(html_93b2758801a3468f92814ae84ddc6ede);
        

        marker_21ad68dd3db042f78af35ec2ccd04252.bindPopup(popup_14a953275eb143e9972e6fd22b9374e6)
        ;

        
    
    
            var marker_85b9cb6d5e6540849a588e227426299d = L.marker(
                [40.7655, -74.21289],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_2bdc1c424da543dca2ce736c44d9ec83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_85b9cb6d5e6540849a588e227426299d.setIcon(icon_2bdc1c424da543dca2ce736c44d9ec83);
        
    
        var popup_2869f414a575492cb78ecad9f121484f = L.popup({"maxWidth": 150});

        
            var html_f5d2361b78f740ebbcfcdc9958386ac1 = $(`<div id="html_f5d2361b78f740ebbcfcdc9958386ac1" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-01</div>`)[0];
            popup_2869f414a575492cb78ecad9f121484f.setContent(html_f5d2361b78f740ebbcfcdc9958386ac1);
        

        marker_85b9cb6d5e6540849a588e227426299d.bindPopup(popup_2869f414a575492cb78ecad9f121484f)
        ;

        
    
    
            var marker_97584ff55c4740dabea2ad4c7216c272 = L.marker(
                [40.90754, -74.04402],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_a879cb269ece43cd9a173f2547ba8cd3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_97584ff55c4740dabea2ad4c7216c272.setIcon(icon_a879cb269ece43cd9a173f2547ba8cd3);
        
    
        var popup_a2f64e1423e2434b874a3da3cd2d9d85 = L.popup({"maxWidth": 150});

        
            var html_8457656a884a459b8d19df4a1f7a8605 = $(`<div id="html_8457656a884a459b8d19df4a1f7a8605" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-11</div>`)[0];
            popup_a2f64e1423e2434b874a3da3cd2d9d85.setContent(html_8457656a884a459b8d19df4a1f7a8605);
        

        marker_97584ff55c4740dabea2ad4c7216c272.bindPopup(popup_a2f64e1423e2434b874a3da3cd2d9d85)
        ;

        
    
    
            var marker_888b4f54ef9640d18600e75740d13829 = L.marker(
                [26.17492, -80.20113],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_63a0813690074747ad5367790d9a4781 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_888b4f54ef9640d18600e75740d13829.setIcon(icon_63a0813690074747ad5367790d9a4781);
        
    
        var popup_9005bd4cdb0c47c0ad3d397c9846d4a9 = L.popup({"maxWidth": 150});

        
            var html_bf9c02d6b4334639a22a73ad5227a4b0 = $(`<div id="html_bf9c02d6b4334639a22a73ad5227a4b0" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_9005bd4cdb0c47c0ad3d397c9846d4a9.setContent(html_bf9c02d6b4334639a22a73ad5227a4b0);
        

        marker_888b4f54ef9640d18600e75740d13829.bindPopup(popup_9005bd4cdb0c47c0ad3d397c9846d4a9)
        ;

        
    
    
            var marker_3ba1bc697414419e8a182577af8b258a = L.marker(
                [40.53935, -74.1785],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_8d974f46a06c4bd997ca27f3fe1f7a23 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3ba1bc697414419e8a182577af8b258a.setIcon(icon_8d974f46a06c4bd997ca27f3fe1f7a23);
        
    
        var popup_bebb7a8b1e004d90ac413dcbd6a27e31 = L.popup({"maxWidth": 150});

        
            var html_7590d5f73a17436a92f392b8dcd3e6d8 = $(`<div id="html_7590d5f73a17436a92f392b8dcd3e6d8" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-18</div>`)[0];
            popup_bebb7a8b1e004d90ac413dcbd6a27e31.setContent(html_7590d5f73a17436a92f392b8dcd3e6d8);
        

        marker_3ba1bc697414419e8a182577af8b258a.bindPopup(popup_bebb7a8b1e004d90ac413dcbd6a27e31)
        ;

        
    
    
            var marker_c47294bdb8ce4d398657fe83ce09088b = L.marker(
                [40.85515, -74.0943],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_7efd5dc16fd243e5aafd6d6cbad8e935 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c47294bdb8ce4d398657fe83ce09088b.setIcon(icon_7efd5dc16fd243e5aafd6d6cbad8e935);
        
    
        var popup_c159939812214a1c9826fa368c9ab810 = L.popup({"maxWidth": 150});

        
            var html_2ce0f5759f6644fcaa05aeb83b2aff9a = $(`<div id="html_2ce0f5759f6644fcaa05aeb83b2aff9a" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-03</div>`)[0];
            popup_c159939812214a1c9826fa368c9ab810.setContent(html_2ce0f5759f6644fcaa05aeb83b2aff9a);
        

        marker_c47294bdb8ce4d398657fe83ce09088b.bindPopup(popup_c159939812214a1c9826fa368c9ab810)
        ;

        
    
    
            var marker_d963425f282843d3b2454906c1723080 = L.marker(
                [40.71074, -73.96782],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_ebfbc0aab31241c1820ed06052faae08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d963425f282843d3b2454906c1723080.setIcon(icon_ebfbc0aab31241c1820ed06052faae08);
        
    
        var popup_5e650fa7f49045cfbcdffd57d809421e = L.popup({"maxWidth": 150});

        
            var html_99db53062af34d5aa6d0202e1e3bc69b = $(`<div id="html_99db53062af34d5aa6d0202e1e3bc69b" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-26</div>`)[0];
            popup_5e650fa7f49045cfbcdffd57d809421e.setContent(html_99db53062af34d5aa6d0202e1e3bc69b);
        

        marker_d963425f282843d3b2454906c1723080.bindPopup(popup_5e650fa7f49045cfbcdffd57d809421e)
        ;

        
    
    
            var marker_73737a33ae9e448a99e92289aa1d5858 = L.marker(
                [40.88345, -73.84737],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_1b75e122b5e34b51b93649472108c51e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_73737a33ae9e448a99e92289aa1d5858.setIcon(icon_1b75e122b5e34b51b93649472108c51e);
        
    
        var popup_3528901068f84e4aa7d433a6a0f486cf = L.popup({"maxWidth": 150});

        
            var html_bf6fc527501f4502888815ca55688034 = $(`<div id="html_bf6fc527501f4502888815ca55688034" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-12</div>`)[0];
            popup_3528901068f84e4aa7d433a6a0f486cf.setContent(html_bf6fc527501f4502888815ca55688034);
        

        marker_73737a33ae9e448a99e92289aa1d5858.bindPopup(popup_3528901068f84e4aa7d433a6a0f486cf)
        ;

        
    
    
            var marker_94a31831b6424feea426244949275c7d = L.marker(
                [40.52073, -74.28003],
                {}
            ).addTo(marker_cluster_6b4a59828a214ba0988147c9f35ad10f);
        
    
            var icon_74b9d309fe8e485cba0be1d2b5ef9e92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_94a31831b6424feea426244949275c7d.setIcon(icon_74b9d309fe8e485cba0be1d2b5ef9e92);
        
    
        var popup_b6dea2112d144c1082c5ee1b5670dfea = L.popup({"maxWidth": 150});

        
            var html_94f64f1de7a24e8ab08ec8ccd6a4deea = $(`<div id="html_94f64f1de7a24e8ab08ec8ccd6a4deea" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-24</div>`)[0];
            popup_b6dea2112d144c1082c5ee1b5670dfea.setContent(html_94f64f1de7a24e8ab08ec8ccd6a4deea);
        

        marker_94a31831b6424feea426244949275c7d.bindPopup(popup_b6dea2112d144c1082c5ee1b5670dfea)
        ;

        
    
</script>