<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bad7a8a3351c46f58ed0b0b536bccab6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_bad7a8a3351c46f58ed0b0b536bccab6" ></div>
        
</body>
<script>    
    
            var map_bad7a8a3351c46f58ed0b0b536bccab6 = L.map(
                "map_bad7a8a3351c46f58ed0b0b536bccab6",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c93acc4848514cd09d3e056717305a64 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bad7a8a3351c46f58ed0b0b536bccab6);
        
    
            map_bad7a8a3351c46f58ed0b0b536bccab6.fitBounds(
                [[26.17492, -117.49637], [40.91285, -73.84737]],
                {}
            );
        
    
            var marker_cluster_a37227f8d7fb4d64a0ede17be3deec17 = L.markerClusterGroup(
                {}
            );
            map_bad7a8a3351c46f58ed0b0b536bccab6.addLayer(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var marker_d5a14bf83f7f4a54bf0567b5e981fd03 = L.marker(
                [39.87297, -74.89324],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_3e2786ee65d247b0851e347df0a7d557 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d5a14bf83f7f4a54bf0567b5e981fd03.setIcon(icon_3e2786ee65d247b0851e347df0a7d557);
        
    
        var popup_0f4650f9138842b2b31dcace69506563 = L.popup({"maxWidth": 150});

        
            var html_bc5dfe1c991d4624aa14b7652fbc5f6d = $(`<div id="html_bc5dfe1c991d4624aa14b7652fbc5f6d" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-20</div>`)[0];
            popup_0f4650f9138842b2b31dcace69506563.setContent(html_bc5dfe1c991d4624aa14b7652fbc5f6d);
        

        marker_d5a14bf83f7f4a54bf0567b5e981fd03.bindPopup(popup_0f4650f9138842b2b31dcace69506563)
        ;

        
    
    
            var marker_8e310ed1316a4d2e9dfd68ac8e541b8a = L.marker(
                [40.91285, -74.15009],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_c3f22712e76b471d94585c7010e2af11 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8e310ed1316a4d2e9dfd68ac8e541b8a.setIcon(icon_c3f22712e76b471d94585c7010e2af11);
        
    
        var popup_e706ceb9ae8f4880a7c07db0b6c875ca = L.popup({"maxWidth": 150});

        
            var html_227aceb656a54b26a72518bc761ff90c = $(`<div id="html_227aceb656a54b26a72518bc761ff90c" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-28</div>`)[0];
            popup_e706ceb9ae8f4880a7c07db0b6c875ca.setContent(html_227aceb656a54b26a72518bc761ff90c);
        

        marker_8e310ed1316a4d2e9dfd68ac8e541b8a.bindPopup(popup_e706ceb9ae8f4880a7c07db0b6c875ca)
        ;

        
    
    
            var marker_283d536f724e424b9d5086527cc2612c = L.marker(
                [40.5799354, -74.2216346],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_56a7534d09694e8c8dbba9df5eb342e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_283d536f724e424b9d5086527cc2612c.setIcon(icon_56a7534d09694e8c8dbba9df5eb342e9);
        
    
        var popup_7e8b293a03f14f4ebbdc0295b1af7965 = L.popup({"maxWidth": 150});

        
            var html_79a8b79776fa486f88c87f1e4c0c80cd = $(`<div id="html_79a8b79776fa486f88c87f1e4c0c80cd" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-01</div>`)[0];
            popup_7e8b293a03f14f4ebbdc0295b1af7965.setContent(html_79a8b79776fa486f88c87f1e4c0c80cd);
        

        marker_283d536f724e424b9d5086527cc2612c.bindPopup(popup_7e8b293a03f14f4ebbdc0295b1af7965)
        ;

        
    
    
            var marker_ecce49739e2544918b89866117686e02 = L.marker(
                [39.43666, -74.86598],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_8a5b87b779b44662a7d3868012ccfba6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ecce49739e2544918b89866117686e02.setIcon(icon_8a5b87b779b44662a7d3868012ccfba6);
        
    
        var popup_536d73e6b61e4254b1f77596190ce38f = L.popup({"maxWidth": 150});

        
            var html_c24499931d7a4d7583c43ba50a8eaa41 = $(`<div id="html_c24499931d7a4d7583c43ba50a8eaa41" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-08</div>`)[0];
            popup_536d73e6b61e4254b1f77596190ce38f.setContent(html_c24499931d7a4d7583c43ba50a8eaa41);
        

        marker_ecce49739e2544918b89866117686e02.bindPopup(popup_536d73e6b61e4254b1f77596190ce38f)
        ;

        
    
    
            var marker_e89154cae4ef4edab2d906274dab136c = L.marker(
                [40.29381, -73.9917],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_50f78abde872431eaedc46f62acd9115 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e89154cae4ef4edab2d906274dab136c.setIcon(icon_50f78abde872431eaedc46f62acd9115);
        
    
        var popup_59e0ec5655ce43b2a64494c79df3051c = L.popup({"maxWidth": 150});

        
            var html_9178a12a39df4c72afe75758550ec721 = $(`<div id="html_9178a12a39df4c72afe75758550ec721" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_59e0ec5655ce43b2a64494c79df3051c.setContent(html_9178a12a39df4c72afe75758550ec721);
        

        marker_e89154cae4ef4edab2d906274dab136c.bindPopup(popup_59e0ec5655ce43b2a64494c79df3051c)
        ;

        
    
    
            var marker_440b64217f90407ba5e5b482e0ac55a1 = L.marker(
                [40.6406216, -74.0293197],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_29353bc179e8455d88811a85a4efd933 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_440b64217f90407ba5e5b482e0ac55a1.setIcon(icon_29353bc179e8455d88811a85a4efd933);
        
    
        var popup_991795300b2a4879ba574db503bac3e3 = L.popup({"maxWidth": 150});

        
            var html_31bc8b7ee3d44edcb5086e627a8db29a = $(`<div id="html_31bc8b7ee3d44edcb5086e627a8db29a" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_991795300b2a4879ba574db503bac3e3.setContent(html_31bc8b7ee3d44edcb5086e627a8db29a);
        

        marker_440b64217f90407ba5e5b482e0ac55a1.bindPopup(popup_991795300b2a4879ba574db503bac3e3)
        ;

        
    
    
            var marker_4830202f81f74823a6f821bbd1cae685 = L.marker(
                [34.11971, -117.49637],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_69f10aec7103472885d232aefdb10058 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4830202f81f74823a6f821bbd1cae685.setIcon(icon_69f10aec7103472885d232aefdb10058);
        
    
        var popup_c56e2e75a0934d7b887f078029fd3aa9 = L.popup({"maxWidth": 150});

        
            var html_7ba9fdca9620442a8c079e18c90e502b = $(`<div id="html_7ba9fdca9620442a8c079e18c90e502b" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-24</div>`)[0];
            popup_c56e2e75a0934d7b887f078029fd3aa9.setContent(html_7ba9fdca9620442a8c079e18c90e502b);
        

        marker_4830202f81f74823a6f821bbd1cae685.bindPopup(popup_c56e2e75a0934d7b887f078029fd3aa9)
        ;

        
    
    
            var marker_1b9bedce466d4382a4803441ed0363ff = L.marker(
                [40.63486, -73.92373],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_a29d13dc42c84248a810689ba1440ebf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1b9bedce466d4382a4803441ed0363ff.setIcon(icon_a29d13dc42c84248a810689ba1440ebf);
        
    
        var popup_29ee5b21471a4727ba6e0b91f2e4646d = L.popup({"maxWidth": 150});

        
            var html_c8370f69d6ee4dddbcb0e644f5452aa9 = $(`<div id="html_c8370f69d6ee4dddbcb0e644f5452aa9" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-29</div>`)[0];
            popup_29ee5b21471a4727ba6e0b91f2e4646d.setContent(html_c8370f69d6ee4dddbcb0e644f5452aa9);
        

        marker_1b9bedce466d4382a4803441ed0363ff.bindPopup(popup_29ee5b21471a4727ba6e0b91f2e4646d)
        ;

        
    
    
            var marker_d9ffd77b4911437db2c62dd2f4a1c3a8 = L.marker(
                [40.6278979, -74.4317857],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_b1f978912c434be9ad31a30b5c2ec2a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d9ffd77b4911437db2c62dd2f4a1c3a8.setIcon(icon_b1f978912c434be9ad31a30b5c2ec2a5);
        
    
        var popup_d2156f3745834d7a87a32e812534ca3e = L.popup({"maxWidth": 150});

        
            var html_b9b6daafec5b46baa315fb2fe1e95a4a = $(`<div id="html_b9b6daafec5b46baa315fb2fe1e95a4a" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-25</div>`)[0];
            popup_d2156f3745834d7a87a32e812534ca3e.setContent(html_b9b6daafec5b46baa315fb2fe1e95a4a);
        

        marker_d9ffd77b4911437db2c62dd2f4a1c3a8.bindPopup(popup_d2156f3745834d7a87a32e812534ca3e)
        ;

        
    
    
            var marker_381e0498954e4ff98a01a294d3999fac = L.marker(
                [40.7655, -74.21289],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_63616468861943e0b5b3b1ee8181b4fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_381e0498954e4ff98a01a294d3999fac.setIcon(icon_63616468861943e0b5b3b1ee8181b4fb);
        
    
        var popup_f4fc95cabad044a7a113f374036273a4 = L.popup({"maxWidth": 150});

        
            var html_50ad2a07acfd463c913f52687bc02f90 = $(`<div id="html_50ad2a07acfd463c913f52687bc02f90" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-01</div>`)[0];
            popup_f4fc95cabad044a7a113f374036273a4.setContent(html_50ad2a07acfd463c913f52687bc02f90);
        

        marker_381e0498954e4ff98a01a294d3999fac.bindPopup(popup_f4fc95cabad044a7a113f374036273a4)
        ;

        
    
    
            var marker_9c87fb1ca4814dc7bb4624c62b1ec15a = L.marker(
                [40.90754, -74.04402],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_e8290fd948724a8fb73c96677530eb64 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9c87fb1ca4814dc7bb4624c62b1ec15a.setIcon(icon_e8290fd948724a8fb73c96677530eb64);
        
    
        var popup_ffc5633c60bb48f2b92f225e55043fbf = L.popup({"maxWidth": 150});

        
            var html_faecfb3e52a3433ba7853868ac1efe08 = $(`<div id="html_faecfb3e52a3433ba7853868ac1efe08" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-11</div>`)[0];
            popup_ffc5633c60bb48f2b92f225e55043fbf.setContent(html_faecfb3e52a3433ba7853868ac1efe08);
        

        marker_9c87fb1ca4814dc7bb4624c62b1ec15a.bindPopup(popup_ffc5633c60bb48f2b92f225e55043fbf)
        ;

        
    
    
            var marker_8c904f619e4f4a99b9a2736e98fa0e9b = L.marker(
                [26.17492, -80.20113],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_5d959b76f2c340c68cafa4e125f1739f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8c904f619e4f4a99b9a2736e98fa0e9b.setIcon(icon_5d959b76f2c340c68cafa4e125f1739f);
        
    
        var popup_eea12d1cb830412e8688fe4971853be9 = L.popup({"maxWidth": 150});

        
            var html_ef383c9946314b648645f36f238c0937 = $(`<div id="html_ef383c9946314b648645f36f238c0937" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-02</div>`)[0];
            popup_eea12d1cb830412e8688fe4971853be9.setContent(html_ef383c9946314b648645f36f238c0937);
        

        marker_8c904f619e4f4a99b9a2736e98fa0e9b.bindPopup(popup_eea12d1cb830412e8688fe4971853be9)
        ;

        
    
    
            var marker_ff8460abe22d442c9952d49b410fcef2 = L.marker(
                [40.53935, -74.1785],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_67850d5705e244539b60a0c67e434af4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ff8460abe22d442c9952d49b410fcef2.setIcon(icon_67850d5705e244539b60a0c67e434af4);
        
    
        var popup_7f7494d40d094b339d0651229d1a6eae = L.popup({"maxWidth": 150});

        
            var html_c13909d8a2ad40179dd689d6d20ad404 = $(`<div id="html_c13909d8a2ad40179dd689d6d20ad404" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-18</div>`)[0];
            popup_7f7494d40d094b339d0651229d1a6eae.setContent(html_c13909d8a2ad40179dd689d6d20ad404);
        

        marker_ff8460abe22d442c9952d49b410fcef2.bindPopup(popup_7f7494d40d094b339d0651229d1a6eae)
        ;

        
    
    
            var marker_fb39e407d3ea4eacabfeebb96261b857 = L.marker(
                [40.85515, -74.0943],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_a5d54d411df94aceaece7653a816ba39 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fb39e407d3ea4eacabfeebb96261b857.setIcon(icon_a5d54d411df94aceaece7653a816ba39);
        
    
        var popup_8da2bf49a1104ac88f8c24027cb5e7ff = L.popup({"maxWidth": 150});

        
            var html_221936d888ab4b508eba4def89073137 = $(`<div id="html_221936d888ab4b508eba4def89073137" style="width: 100.0%; height: 100.0%;">Registered: 2019-07-03</div>`)[0];
            popup_8da2bf49a1104ac88f8c24027cb5e7ff.setContent(html_221936d888ab4b508eba4def89073137);
        

        marker_fb39e407d3ea4eacabfeebb96261b857.bindPopup(popup_8da2bf49a1104ac88f8c24027cb5e7ff)
        ;

        
    
    
            var marker_abc6c4ae333248b2902f1a0b9ffd43e3 = L.marker(
                [40.71074, -73.96782],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_adbb942f304f40c98534b20890d17ba5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_abc6c4ae333248b2902f1a0b9ffd43e3.setIcon(icon_adbb942f304f40c98534b20890d17ba5);
        
    
        var popup_1a7da4c241c642a1b79c679801aaeaaf = L.popup({"maxWidth": 150});

        
            var html_e421a5193d334aa4b23deb182b761abd = $(`<div id="html_e421a5193d334aa4b23deb182b761abd" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-26</div>`)[0];
            popup_1a7da4c241c642a1b79c679801aaeaaf.setContent(html_e421a5193d334aa4b23deb182b761abd);
        

        marker_abc6c4ae333248b2902f1a0b9ffd43e3.bindPopup(popup_1a7da4c241c642a1b79c679801aaeaaf)
        ;

        
    
    
            var marker_1374126a17184a7e8ea5f512231ce325 = L.marker(
                [40.88345, -73.84737],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_b4fcad91cac348a3887862279580c112 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1374126a17184a7e8ea5f512231ce325.setIcon(icon_b4fcad91cac348a3887862279580c112);
        
    
        var popup_a4a2e451396441e9b5d0cebcebf2a426 = L.popup({"maxWidth": 150});

        
            var html_1e0811cc7ad745219f60210b4dfc5dc2 = $(`<div id="html_1e0811cc7ad745219f60210b4dfc5dc2" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-12</div>`)[0];
            popup_a4a2e451396441e9b5d0cebcebf2a426.setContent(html_1e0811cc7ad745219f60210b4dfc5dc2);
        

        marker_1374126a17184a7e8ea5f512231ce325.bindPopup(popup_a4a2e451396441e9b5d0cebcebf2a426)
        ;

        
    
    
            var marker_faf03484ee52429fbf3c9d154ea6d8c3 = L.marker(
                [40.52073, -74.28003],
                {}
            ).addTo(marker_cluster_a37227f8d7fb4d64a0ede17be3deec17);
        
    
            var icon_b58a3105a5b04a39ae3206d0b6d2d3e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_faf03484ee52429fbf3c9d154ea6d8c3.setIcon(icon_b58a3105a5b04a39ae3206d0b6d2d3e3);
        
    
        var popup_fc04d3c4962b465084d0f62cabcc5719 = L.popup({"maxWidth": 150});

        
            var html_546bdf473581423c8d7e9c3d9aaedbca = $(`<div id="html_546bdf473581423c8d7e9c3d9aaedbca" style="width: 100.0%; height: 100.0%;">Registered: 2019-06-24</div>`)[0];
            popup_fc04d3c4962b465084d0f62cabcc5719.setContent(html_546bdf473581423c8d7e9c3d9aaedbca);
        

        marker_faf03484ee52429fbf3c9d154ea6d8c3.bindPopup(popup_fc04d3c4962b465084d0f62cabcc5719)
        ;

        
    
</script>