<div style = "vertical-align:middle;padding:10 1 0 10px;">
  <span style = "vertical-align:top;font-size:14pt;">  Include on #2  </span>
  <textarea id="include2", rows="1", cols="20"></textarea>
</div>
<div style = "vertical-align:middle;padding:10 1 0 10px;">
  <span style = "vertical-align:top;font-size:14pt;">  Exclude on #2  </span>
  <textarea id="exclude2", rows="1", cols="20"></textarea>
</div>
<div style = "vertical-align:middle;padding:10 1 0 10px;">
  <span style = "vertical-align:top;font-size:14pt;">  Include on #3  </span>
  <textarea id="include3", rows="1", cols="20"></textarea>
</div>
<div style = "vertical-align:middle;padding:10 1 0 10px;">
  <span style = "vertical-align:top;font-size:14pt;">  Exclude on #3  </span>
  <textarea id="exclude3", rows="1", cols="20"></textarea>
</div>
